html {
  font-size: 85%;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  text-decoration: none;
  color: #718096;
  background-color: #f8f8f8;
}

.wrapper-content {
  /* background-color: #000; */
  margin: 0;
  min-width: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tcl-container {
  min-width: 0px;
  width: 100%;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0px auto;
}
@media screen and (min-width: 640px) {
  .tcl-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.tcl-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.spacing {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .spacing {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.spacing + .spacing {
  padding-top: 0;
}

.bg-white {
  background-color: #fff;
}

.bg-white-blue {
  background-color: #f0f8f8;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 90%;
  }
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}
.page404 {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
/* #slider .slick-arrow {
  background-color: red;
}
.slick-arrow.slick-prev {
}
.slick-arrow.slick-next {
} */
.btn-arrow {
  background-color: rgb(233, 232, 232);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: rgb(175, 175, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: #ccc solid 1px;
}
.btn-arrow i {
  font-size: 30px;
}
.btn-arrow {
  transition: all ease 0.25s;
}
.btn-arrow:hover {
  border: 2px #ffff solid;
  color: #fff;
  background: rgba(51, 51, 51, 0.676);
}
.btn-arrow.pre {
  position: absolute;
  top: 50%;
  transform: translate(-40%, -50%);
  z-index: 1;
}
.btn-arrow.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40%, -50%);
  z-index: 1;
}
.group-form {
  position: relative;
}

.slick-slide.slick-active + :not(.slick-active) {
  opacity: 0;
  transform: scale(0.75);
}
.slick-slide {
  opacity: 1;
  transform: scale(1);
  transition: all 600ms ease;
}
.slick-slider.slick-initialized > .slick-dots {
  position: absolute;
  max-width: 120px;
  top: 0;
  right: 0;
  height: 25px;
  transform: translateY(-100%);
  display: flex !important;
  flex-wrap: nowrap;
}
ul.slick-dots li button:before {
  width: 15px;
  height: 15px;
  content: "";
  background-color: rgb(50, 49, 49);
  border-radius: 50%;
}

.fade-up:hover {
  transform: translateY(-2%);
}
.latest-news__card.fade-up {
  transition: all ease 0.5s;
  padding-top: 20px;
}
.latest-news__card.fade-up .article-item {
  transition: all ease 0.5s;
  box-shadow: rgba(52, 48, 58, 0.553) 1px 1px 5px 0px;
}
.latest-news__card.fade-up .article-item:hover {
  box-shadow: rgba(52, 48, 58, 0.553) 0 5px 10px 0;
}
