#header {
  margin: 0;
  z-index: 99;
  min-width: 0;
  padding: 0 1rem;
  position: relative;
  background-color: #fff;
}

.header {
  height: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .header {
    height: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.header-logo {
  position: relative;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
}
.header-logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo span {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: #edf2f7;
}
.header-logo .joker {
  width: 50px;
  height: 50px;
  display: block;
  object-fit: fill;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  display: none;
}
.header-nav__lists {
  margin: 0;
  padding-left: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  align-items: center;
}
.header-nav__lists > li {
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.header-nav__lists > li a {
  display: block;
  font-weight: 700;
  color: #718096;
  padding: 0.25rem;
}
.header-nav__lists > li a {
  display: block;
  font-weight: 700;
  color: #718096;
  padding: 0.25rem;
}
.header-nav__lists > li ul {
  position: absolute;
  width: 200px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  list-style: none;
  padding: 0.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header-nav__lists > li ul li {
  padding: 0rem 1rem;
}
.header-nav__lists > li > ul {
  top: 100%;
  right: 0;
}
.header-nav__lists > li > ul ul {
  top: 0;
  right: 100%;
}
.header-nav__lists li {
  position: relative;
}
.header-nav__lists li:hover > a,
.header-nav__lists li:hover > a:active,
.header-nav__lists li:hover > a:visited {
  color: #5a67d8;
  text-decoration: none;
}
.header-nav__lists li:hover > ul {
  opacity: 1;
  pointer-events: auto;
}
.header-nav__lists .user a {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-nav__lists .user .icons {
  margin-right: 3px;
}
@media screen and (min-width: 640px) {
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
  }
}
.header-search {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 2rem;
  left: 50%;
  z-index: 99;
  background-color: #edf2f7;
  transform: translate(0px, 0px);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: 3px solid transparent;
}
.header-search__input {
  display: block;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  margin: 0px 0px 0px 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 0;
  outline: none;
}
#mobile-menu {
  display: none;
}
.header-search {
  display: flex;
}
.container-mobile-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  #icon-search {
    width: 2rem;
    height: 2rem;
  }
  #form-search-mobile {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 60px;
    z-index: 1;
    transform: translateY(150%);
  }
  .header-search {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #nav-mobile {
    /* width: 80%; */
  }
  .tcl-col-6 {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .header-logo span {
    display: none;
  }

  #main-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  .user {
    font-size: 25px;
    background-color: #edf2f7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaabab;
  }
  .header-nav__lists {
    gap: 20px;
  }
  /* Mobile Menu - START */
  .container-mobile-menu {
    display: block;
    position: fixed;
    background-color: rgba(132, 132, 132, 0.605);
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    z-index: 100;
  }
  .container-mobile-menu.active {
    left: 0;
  }
  .close-menu {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #aaabab;
    background-color: #edf2f7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translate(100%, 100%);
  }
  .mobile-menu_list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 70%;
    background-color: #fff;
  }
  .mobile-menu-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .mobile-menu-item ul {
    list-style-type: none;
  }
  .mobile-menu-item li {
    list-style-type: none;
  }
  .mobile-menu-item > li:first-child {
    border-bottom: 1px #ccc solid;
  }
  .mobile-menu-item li a {
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .mobile-menu-item li ul li a {
    color: rgb(167, 167, 167);
    font-weight: 500;
    font-size: 25px;
  }

  .mobile-menu-item li ul {
    padding: 0;
    margin: 5px 0;
  }
}
@media screen and (max-width: 640px) {
  #header {
    margin-bottom: 10%;
  }
  #form-search-mobile {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 60px;
    z-index: 1;
    transform: translateY(130%);
  }
}
/* Mobile Menu - END */
